@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: 'Manrope', sans-serif;
  font-weight: 200;
}

a,
button,
ul, 
li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #000;
}

button {
  border: 0;
  background-color: transparent;
}

img {
  width: 100%;
  height: auto;
}

/************************* Banner *************************/
.banner h1 {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.banner p {
  letter-spacing: 1px;
}

.banner img {
  border-radius: 50%;
  object-fit: cover;
}

/************************* Project *************************/
.project p {
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 70%;
}

.project-container {
  position: relative;
  overflow: hidden;
  width: 75rem;
  height: 40rem; 
  margin-bottom: 100px !important;
  border-radius: 30px;
}

.project-image-container {
  position: relative;
  perspective: 1000px;
}

.project-image {
  height: 80vw;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(212, 176, 144, 0.6);
  display: flex;
  justify-content: center;
}

.project-content {
  color: #fff;
  margin-block-start: 6rem;
  margin-left: 100px;
}

.project-content h1 {
  font-size: 4em;
  font-weight: 600;
  letter-spacing: -0.075rem;
}

.project-content p {
  width: 100%;
  margin-block-start: 2.5rem;
  margin-block-end: 2.5rem;
}


/************************* Contact *************************/
.contact {
  padding: 50px ;
  background-color: #dfe5ea;
}

/************************* Buttons *************************/
.buttons li a {
  background-color: #fff;
  color: #000;
  font-size: 1em;
  font-weight: 700;
  
  gap: 10px;
  width: auto;
  padding: 0 1.875rem;
  height: 3.75rem;
  line-height: 3.75rem;
  border-radius: 0.5rem;

  display: inline-flex;
  align-items: center;
  transition: transform 0.25s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

.buttons li a:hover {
  transform: scale(1.1);
}