@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NewYork';
  src: url('/public/fonts/NewYork.otf') format('opentype');
}

@font-face {
  font-family: 'Kanit';
  src: url('/public/fonts/Kanit-Light.ttf') format('opentype');
}


@layer base {
  body {
    @apply font-kanit leading-8 text-black;
  }
  .section {
    @apply py-8;
  }
  .hover-underline {
    @apply hover:underline transition-all duration-200;
  }
}
